{% extends "base.html" %}

{% block content %}
<br><br>
<div class="container py-5">
    <h2>Preguntas del Examen: {{ examen.titulo }}</h2>

    {% if preguntas %}
        <ul class="list-group">
            {% for pregunta in preguntas %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ pregunta.texto }}
                    <div>
                        <a href="{% url 'editar_pregunta' examen.slug pregunta.id %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'eliminar_pregunta' examen.slug pregunta.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay preguntas aún.</p>
    {% endif %}

    <a href="{% url 'agregar_pregunta' examen.slug %}" class="btn btn-success mt-3">Agregar Pregunta</a>
    <a href="{% url 'board' examen.curso.codigo_acceso %}" class="btn btn-secondary mt-3">Volver al Curso</a>
</div>
{% endblock %}